@import "./links.css";

body{
    background-image: url(../images/fondo-suelo-textura-madera-beige_53876-104668.jpg);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: burlywood;
}

footer{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}