#text_1{
    color: black;
}

#text_2{
    color: teal;
}

#text_3{
    color: blue;
}

#text_4{
    color: navy;
}

#text_5{
    color: lime;
}

#text_6{
    color: white;
}

#text_7{
    color: purple;
}

#text_8{
    color: yellow;
}

#text_9{
    color: olive;
}

#text_10{
    color: red;
}

#text_11{
    color: maroon;
}

#text_12{
    color: gray;
}

#text_13{
    color: fuchsia;
}

#text_14{
    color: green;
}

#text_15{
    color: aqua;
}

#text_16{
    color: silver;
}