.td_black{
    background-color: black;
}

.td_teal{
    background-color: teal;
}

.td_blue{
    background-color: blue;
}

.td_navy{
    background-color: navy;
}

.td_lime{
    background-color: lime;
}

.td_white{
    background-color: white;
}

.td_purple{
    background-color: purple;
}

.td_yellow{
    background-color: yellow;
}

.td_olive{
    background-color: olive;
}

.td_red{
    background-color: red;
}

.td_maroon{
    background-color: maroon;
}

.td_gray{
    background-color: gray;
}

.td_black{
    background-color: black;
}

.td_fuchsia{
    background-color: fuchsia;
}

.td_green{
    background-color: green;
}
